<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--Kentico Cloud Settings-->
  <add key="KenticoCloud.ProjectID" value="ae8a7889-452f-461c-a741-0f4ca3950fab" />
  <add key="KentcioCloud.DeliveryPreviewAPI" value="ew0KICAiYWxnIjogIkhTMjU2IiwNCiAgInR5cCI6ICJKV1QiDQp9.ew0KICAidWlkIjogInVzcl8wdlR0U0tMVms1U3B5WnRWSXZWRTZzIiwNCiAgImVtYWlsIjogIm1jNjQxNUBnbWFpbC5jb20iLA0KICAicHJvamVjdF9pZCI6ICJhZThhNzg4OS00NTJmLTQ2MWMtYTc0MS0wZjRjYTM5NTBmYWIiLA0KICAianRpIjogIlZxNlNfaGdRZ2lzWVFIQm4iLA0KICAidmVyIjogIjEuMC4wIiwNCiAgImdpdmVuX25hbWUiOiAiTWljaGFlbCIsDQogICJmYW1pbHlfbmFtZSI6ICJDb29tYmVzIiwNCiAgImF1ZCI6ICJwcmV2aWV3LmRlbGl2ZXIua2VudGljb2Nsb3VkLmNvbSINCn0.0yfL0xnlpgasob6zzRCxvaM-5vEju2WQmWQdEwiFJ6o" />

  <!--Site Codenames-->
  <add key="Codename.Home" value="home" />
</appSettings>