@model Site.Web.Models.ContentTypes.Article

<div class="article-container">
    <div class="article-container__heading">
        <img class="article-container__heading-img" src="@Model.ArticleImage.First().Url" />
        <div class="article-container__title">@Model.Title</div>
    </div>
    <div class="article-container__content">@Model.Blurb</div>
</div>