@model bool

@{
    var className = Model ? "item active" : "item";
}
<div class="@className">
    <a href="#"><img src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 1"></a>
    @*<h4><small>Summer dress floral prints</small></h4>
        <button class="btn btn-primary" type="button">49,99 €</button>
        <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>*@
</div>
<!-- End Item -->