@model Site.Web.Models.Views.NavBarList

<li class="col-sm-3">
    <ul>
        <li class="dropdown-header">@Model.Title</li>
        @foreach (var category in Model.ListItems)
            {
            <li>
                <a href="/Category/@category.Elements.name.value">
                    @category.Elements.name.value
                </a>
            </li>
        }
    </ul>
</li>